<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ww-main ww-404","layout":{"type":"constrained"}} -->
<main class="wp-block-group ww-main ww-404">
	<!-- wp:heading {"level":1} -->
	<h1>Page Not Found</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>The page you're looking for doesn't exist. Try one of our top casinos instead:</p>
	<!-- /wp:paragraph -->
	<!-- wp:wagerwise/top-casinos {"number":5} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
