<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ww-main ww-single-post","layout":{"type":"constrained"}} -->
<main class="wp-block-group ww-main ww-single-post">

	<!-- wp:post-featured-image {"align":"wide"} /-->
	<!-- wp:post-title {"level":1} /-->

	<!-- wp:wagerwise/review-meta /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:heading {"level":2} -->
	<h2>More Reviews</h2>
	<!-- /wp:heading -->
	<!-- wp:wagerwise/review-grid {"number":3} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
