<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ww-main ww-single-game","layout":{"type":"constrained"}} -->
<main class="wp-block-group ww-main ww-single-game">

	<!-- wp:wagerwise/breadcrumbs /-->

	<!-- wp:wagerwise/game-hero /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:heading {"level":2} -->
	<h2>More Free Games</h2>
	<!-- /wp:heading -->
	<!-- wp:wagerwise/game-grid {"number":4} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
