<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ww-main ww-single-tournament","layout":{"type":"constrained"}} -->
<main class="wp-block-group ww-main ww-single-tournament">

	<!-- wp:wagerwise/breadcrumbs /-->

	<!-- wp:wagerwise/tournament-hero /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:heading {"level":2} -->
	<h2>Leaderboard</h2>
	<!-- /wp:heading -->
	<!-- wp:wagerwise/tournament-leaderboard /-->

	<!-- wp:heading {"level":2} -->
	<h2>More Tournaments</h2>
	<!-- /wp:heading -->
	<!-- wp:wagerwise/tournament-grid {"number":3} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
