<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ww-main ww-single-sportsbook-bonus","layout":{"type":"constrained"}} -->
<main class="wp-block-group ww-main ww-single-sportsbook-bonus">

	<!-- wp:wagerwise/breadcrumbs /-->

	<!-- wp:wagerwise/sportsbook-bonus-hero /-->

	<!-- wp:wagerwise/ad-banner {"image":"1xbet-cricket"} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:wagerwise/ad-banner {"image":"barca-leaderboard"} /-->

	<!-- wp:heading {"level":2} -->
	<h2>More Sports Betting Bonuses</h2>
	<!-- /wp:heading -->
	<!-- wp:wagerwise/sportsbook-bonus-grid {"number":3} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
